.contacts {
  background-color: #fff;
  min-height: 575px;
  padding-top: 75px;
  padding-bottom: 90px;

  &__inner {
    @include container;
  }

  &__left-column {
    float: left;
    width: 240px;
  }

  &__right-column {
    float: right;
    width: 730px;
    padding-right: 70px;
    padding-left: 10px;
  }

  &__title {
    font-size: 19px;
    line-height: 27px;
    font-family: $second-font-family;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
    color: $font-color;
  }

  &__text {
    font-size: 11px;
    line-height: 20px;
    font-family: $second-font-family;
    font-weight: 400;
    color: #6a737b;
    font-style: normal;
    padding-right: 40px;
  }

  &__greetings {
    font-size: 20px;
    line-height: 20px;
    font-family: $second-font-family;
    font-weight: 700;
    color: $font-color;
    margin-bottom: 40px;
  }

  &__form {
    position: relative;
  }

  &__form-element {

    margin-right: 15px;
    color: #5b646e;
    font-family: $second-font-family;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    border: none;
    border-bottom: solid 2px #e7e7e7;
    margin-bottom: 25px;
    padding-bottom: 15px;
    outline: none;

    &--small {
      width: 310px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--wide {
      width: 640px;
    }
  }

  &__form-send {
    text-align: right;
  }

  &__form-submit {
    padding-top: 10px;
    color: #000;
    font-size: 13px;
    line-height: 20px;
    font-family: $second-font-family;
    font-weight: 700;
    background: $background-color;
    border: none;
    cursor: pointer;

  }

  &__social-icons {
    position: absolute;
    content: "";
    width: 40px;
    top: -45px;
    right: -70px;
  }

  &__social-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
  }
}