.works {
  background-color: #fff;
  min-height: 760px;

  &__inner {
    @include container;
  }


  &__description {
    font: 300 14px/18px $primary-font-family;
    color: #062033;
    padding: 0 125px;
    text-align: center;
    margin-top: -15px;
  }
}