.works {
  background-color: #fff;
  min-height: 760px;
  margin-bottom: 100px;

  &__inner {
    @include container;
  }

  &__btn-row {
    text-align: center;
    margin-bottom: 85px;
    margin-left: 15px;
  }

  &__images-list {
    width: 1176px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
  }

  &__image {
    width: 294px;
    height: 220px;
  }


  &__image-description {
    position: absolute;
    display: block;
    background: #fff;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

  &__image-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 294px;
    height: 220px;

    a {
      margin-top: 110px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      font: 700 13px/15px $second-font-family;
      color: #fff;
      text-decoration: none;

      span {
        font: 400 10px/17px $second-font-family;
      }
    }

    &:hover .works__image-description {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 294px;
      height: 220px;
      background: $primary-color;
      opacity: 0.9;
      //z-index: 100;
    }
  }

  &__image-icon {
    position: relative;
    content: "";
    top: 95px;
    left: 130px;
    width: 40px;
    height: 40px;
    border: #fff solid 2px;
    border-radius: 50%;
  }


}